{
    "job":
    {
        "content":
        [
            {
                "reader":
                {
                    "name": "tdengine20reader",
                    "parameter":
                    {
                        "username": "${archiveUser}",
                        "password": "${archivePwd}",
                        #if(!$querySql)
                        "column": [${sourceTableColumn}],
                        "where": "${archiveCondition}",
                        #end
                        "connection":
                        [
                            {
                                #if(!$querySql)
                                "table":["${sourceTable}"],
                                #else
                                "querySql":["${querySql}"],
                                #end
                                "jdbcUrl":
                                [
                                    "jdbc:TAOS-RS://${sourceHost}:${sourcePort}/${sourceDb}?timestampFormat=TIMESTAMP"
                                ]
                            }
                        ]
                    }
                },
                "writer":
                {
                    "name": "tdengine20writer",
                    "parameter":
                    {
                        "username": "${archiveUser}",
                        "password": "${archivePwd}",
                        "column":
                        [
                            ${destTableColumn}
                        ],
                        "connection":
                        [
                            {
                                "table":
                                [
                                    "${destTable}"
                                ],
                                "jdbcUrl": "jdbc:TAOS-RS://${destHost}:${destPort}/${destDb}"
                            }
                        ],
                        "batchSize": ${batchSize},
                        "ignoreTagsUnmatched": false
                    }
                }
            }
        ],
        "setting":
        {
            "speed":
            {
                "channel": 1
            }
        }
    }
}